body{
    background-color: black;
}
h1{
    font-size: 30px;
    color: #C12A0A;
}
h2{
    font-size: 20px;
    color: #0a78c1;
}
.big{
    font-size: 70px;
}
.uppercase{
    text-transform: uppercase;
    color: green;
}
span{
    color: brown;
}
